
    <button type="button" id="to_home_sm" class="btn btn-drive btn-xlg">
        <i class="fa fa-close fa-3x"></i>
    </button>
    <button type="button" class="btn btn-drive btn-xlg" data-toggle="tooltip" data-placement="top" title="Move the rover" id="drive_sm">
        <i class="fa fa-truck fa-3x"></i>
    </button>
    <button type="button" class="btn btn-drive btn-xlg" id="status_sm">
        <i class="fa fa-tachometer fa-3x"></i>
    </button>
    <button type="button" class="btn btn-drive btn-xlg" id="pictures_sm">
        <i class="fa fa-picture-o fa-3x"></i>
    </button>





