    <button type="button" class="btn btn-menu btn-xlg" id="sm_about_page" title="About">
        <i class="fa fa-tachometer fa-3x"></i>
    </button>
    <button type="button" class="btn btn-menu btn-xlg" id="sm_pictures_page" title="Pictures Page">
        <i class="fa fa-picture-o fa-3x"></i>
    </button>
    <button type="button" class="btn btn-menu btn-xlg" id="sm_home_page" title="Upload Last Picture">
        <i class="fa fa-cloud-upload fa-3x"></i>
    </button>
    <button type="button" class="btn btn-instrument-xlg{{ uis['camera'] }}" id="sm_take_picture" title="Take A Picture">
        <i class="fa fa-camera-retro fa-3x"></i>
    </button>




