    <button type="button" class="btn btn-drive btn-xlg">
        <i class="fa fa-hand-o-left fa-3x"></i>
    </button>
    <button type="button" class="btn btn-drive btn-xlg">
        <i class="fa fa-hand-o-up fa-3x"></i>
    </button>
    <button type="button" class="btn btn-drive btn-xlg">
        <i class="fa fa-video-camera fa-3x"></i>
    </button>
    <button type="button" class="btn btn-drive btn-xlg">
        <i class="fa fa-hand-o-down fa-3x"></i>
    </button>
    <button type="button" class="btn btn-drive btn-xlg">
        <i class="fa fa-hand-o-right fa-3x"></i>
    </button>