<button type="button" class="btn-menu" id="sm_turn_cam_up" title="Look Up">
    <i class="fa fa-binoculars fa-rotate-180 fa-3x"></i>
</button>

<button type="button" class="btn-menu" id="sm_turn_cam_left" title="Look Left">
    <i class="fa fa-binoculars fa-rotate-90 fa-3x"></i>
</button>

<button type="button" id="refresh_sm" class="btn-menu" id="sm_center_cam" title="Center The Camera">
    <i class="fa fa-crosshairs fa-3x"></i>
</button>

<button type="button" class="btn-menu" id="sm_turn_cam_right" title="Look Right">
    <i class="fa fa-binoculars fa-rotate-270 fa-3x"></i>
</button>

<button type="button" class="btn-menu" id="sm_turn_cam_down" title="Look Down">
    <i class="fa fa-binoculars fa-3x"></i>
</button>

<button type="button" id="toggle_menu" class="btn-menu" id="sm_center_cam" title="Toggle Menu">
    <i class="fa fa-video-camera fa-3x"></i>
</button>