<button type="button" class="btn btn-drive btn-xlg">
    <i class="fa fa-compass fa-3x"></i>
</button>
<button type="button" class="btn btn-drive btn-xlg" id="to_home_sm" >
    <i class="fa fa-balance-scale fa-3x"></i>
</button>
<button type="button" class="btn btn-drive btn-xlg" id="to_home_sm" >
    <i class="fa fa-battery-2 fa-3x"></i>
</button>
<button type="button" class="btn btn-drive btn-xlg">
    <i class="fa fa-wifi fa-3x"></i>
</button>
<button type="button" class="btn btn-drive btn-xlg">
    <i class="fa fa-thermometer-2 fa-3x"></i>
</button>
<button type="button" class="btn btn-drive btn-xlg">
    <i class="fa fa-handshake-o fa-3x"></i>
</button>