<button type="button" class="btn btn-drive btn-xlg">
    <i class="fa fa-hand-o-up fa-3x"></i>
</button>
<button type="button" class="btn btn-drive btn-xlg" id="turn_cam_left_sm">
    <i class="fa fa-hand-o-left fa-3x"></i>
</button>

<button type="button" id="refresh_sm" class="btn btn-drive btn-xlg">
    <i class="fa fa-refresh fa-3x"></i>
</button>

<button type="button" class="btn btn-drive btn-xlg" id="turn_cam_right_sm">
    <i class="fa fa-hand-o-right fa-3x"></i>
</button>
<button type="button" class="btn btn-drive btn-xlg">
    <i class="fa fa-hand-o-down fa-3x"></i>
</button>