{% macro panel_setting(index) -%}
    <div class="panel-settings">
    <div class="panel-settings-heading">
        <h3 class="panel-settings-title">{{ index|capitalize }} Settings</h3>
    </div>
    <div class="panel-settings-body">
{%- endmacro %}


{% macro panel_setting_end() -%}
    </div></div>
{%- endmacro %}


{% macro settings_for_category(category, settings, specs ) -%}
    {% for setting_name, setting in settings.items() %}

        {% if setting_name in specs[settings[category]] and 'options' in specs[settings[category]][setting_name] %}

            <label class="btn setting-label"> {{ setting_name }} : </label>
            <select name="{{ setting_name }}" id="{{ setting_name }}">
                {% for option, svalue in specs[settings[category]][setting_name]['options'].items() %}
                    <option value="{{ svalue }}" >{{ option }}</option>
                {% endfor %}
            </select><br>

        {% elif setting_name in specs[settings[category]] %}

            <label class="btn setting-label"> {{ setting_name }} : </label>
            <input name="{{ setting_name }}" id="{{ setting_name }}" value="" />
            </input><br>

        {% endif %}

    {% endfor %}
{%- endmacro %}


{% macro setting_input(category, set_dic) -%}
    {% if category == set_dic.category and set_dic %}
        <label class="btn setting-label"> {{ set_dic.name }} : </label>
    {% endif %}
{%- endmacro %}
