{% macro panel_setting(index) -%}
    <div class="panel-settings">
    <div class="panel-settings-heading">
        <h3 class="panel-settings-title">{{ index|capitalize }} Settings</h3>
    </div>
    <div class="panel-settings-body">
{%- endmacro %}


{% macro panel_setting_end() -%}
    </div></div>
{%- endmacro %}


{% macro settings_for_category(category, settings, specs ) -%}
    {% for setting_name, setting_value in settings.items() %}

        {% if setting_name in specs[settings[category]] and 'options' in specs[settings[category]][setting_name] %}

            <label class="btn setting-label"> {{ setting_name|uc_words }} : </label>
            <select name="{{ setting_name }}" id="{{ setting_name }}">
                {% for option, option_value in specs[settings[category]][setting_name]['options'].items() %}
                    <option
                            value="{{ option_value }}" {% if option_value == setting_value %} selected {% endif %} >{{ option }}
                    </option>
                {% endfor %}
            </select><br>

        {% elif setting_name in specs[settings[category]] %}

            <label class="btn setting-label"> {{ setting_name|uc_words }} : </label>
            <input name="{{ setting_name }}" id="{{ setting_name }}" value="{{ setting_value }}" />
            <br>

            <script type="application/javascript">
                $("#{{ setting_name }}").blur(function () { set_setting( "{{ category }}", "{{ setting_name }}", $("#{{ setting_name }}").val() ); });
            </script>

        {% endif %}

    {% endfor %}
{%- endmacro %}


{% macro setting_input(category, set_dic) -%}
    {% if category == set_dic.category and set_dic %}
        <label class="btn setting-label"> {{ set_dic.name }} : </label>
    {% endif %}
{%- endmacro %}
