<div class="dashboard-container visible-lg">

    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-map-marker"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-tachometer"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-close"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-camera"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-picture-o"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-map"></i>
            </button>
        </div>
    </div>

    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-empty btn-lg"></button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-fast-forward fa-rotate-270"></i>
            </button>
            <button type="button" class="btn btn-drive-empty btn-lg"></button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-step-forward fa-rotate-225"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-step-forward fa-rotate-270"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-step-forward fa-rotate-315"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-rotate-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg" data-toggle="tooltip" data-placement="top" title="Move the rover">
                <i class="fa fa-truck"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-rotate-right"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-step-forward fa-rotate-135"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-step-forward fa-rotate-90"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-step-forward fa-rotate-45"></i>
            </button>
        </div>
    </div>

    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-empty btn-lg">

            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up"></i>
            </button>
            <button type="button" class="btn btn-drive-empty btn-lg">

            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-video-camera"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-empty btn-lg">

            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-down"></i>
            </button>
            <button type="button" class="btn btn-drive-empty btn-lg">

            </button>
        </div>
    </div>
</div>



<div class="dashboard-container visible-md visible-sm">

    <div class="col-md-3 drive-md-col col-sm-4">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-fast-forward fa-rotate-270"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-tachometer"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-close"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-step-forward fa-rotate-270"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-picture-o"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-map"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-stop fa-rotate-90"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-tachometer"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-map-marker"></i>
            </button>
        </div>

    </div>

    <div class="col-md-3 drive-md-col col-sm-4">
        <div class="dashboard-button-row hidden-sm">
            <button type="button" class="btn btn-drive-empty btn-lg"></button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-fast-forward fa-rotate-270"></i>
            </button>
            <button type="button" class="btn btn-drive-empty btn-lg"></button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-step-forward fa-rotate-225"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-step-forward fa-rotate-270"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-step-forward fa-rotate-315"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-rotate-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg" data-toggle="tooltip" data-placement="top" title="Move the rover">
                <i class="fa fa-truck"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-rotate-right"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-step-forward fa-rotate-135"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-step-forward fa-rotate-90"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-step-forward fa-rotate-45"></i>
            </button>
        </div>
    </div>

    <div class="col-md-3 drive-md-col col-sm-4">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-empty btn-lg"></button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up"></i>
            </button>
            <button type="button" class="btn btn-drive-empty btn-lg"></button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-video-camera"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-empty btn-lg">

            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-down"></i>
            </button>
            <button type="button" class="btn btn-drive-empty btn-lg">

            </button>
        </div>
    </div>


    <div class="col-md-3 drive-md-col hidden-sm">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-center btn-lg"><i class="fa fa-picture-o"></i></button>
            <button type="button" class="btn btn-drive-center btn-lg"><i class="fa fa-picture-o"></i></button>
            <button type="button" class="btn btn-drive-center btn-lg"><i class="fa fa-picture-o"></i></button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-center btn-lg"><i class="fa fa-picture-o"></i></button>
            <button type="button" class="btn btn-drive-center btn-lg"><i class="fa fa-camera"></i></button>
            <button type="button" class="btn btn-drive-center btn-lg"><i class="fa fa-picture-o"></i></button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-center btn-lg"><i class="fa fa-picture-o"></i></button>
            <button type="button" class="btn btn-drive-center btn-lg"><i class="fa fa-picture-o"></i></button>
            <button type="button" class="btn btn-drive-center btn-lg"><i class="fa fa-picture-o"></i></button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-center btn-lg"><i class="fa fa-picture-o"></i></button>
            <button type="button" class="btn btn-drive-center btn-lg"><i class="fa fa-picture-o"></i></button>
            <button type="button" class="btn btn-drive-center btn-lg"><i class="fa fa-picture-o"></i></button>
        </div>
    </div>

</div>
