<div class="container-fluid">
    <div class="instrument-row">
        <div class="col-lg-12">
            <input class="btn btn-drive-left" type="button" value="Left">
            <input class="btn btn-drive" type="button" value="Forward">
            <input class="btn btn-drive-right" type="button" value="Right">
        </div>
        <div class="col-lg-12">
            <input class="btn btn-drive-left" type="button" value="Left">
            <input class="btn btn-drive-center" type="button" value="Drive">
            <input class="btn btn-drive-right" type="button" value="Right">
        </div>
        <div class="col-lg-12">
            <input class="btn btn-drive-left" type="button" value="Left">
            <input class="btn btn-drive" type="button" value="Forward">
            <input class="btn btn-drive-right" type="button" value="Right">
        </div>
    </div>
</div>

