<div class="dashboard-container">
    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left fa-rotate-45"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up fa-rotate-45"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-truck"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left fa-rotate-315"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-down"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right fa-rotate-45"></i>
            </button>
        </div>
    </div>

    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left fa-rotate-45"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up fa-rotate-45"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-video-camera"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left fa-rotate-315"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-down"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right fa-rotate-45"></i>
            </button>
        </div>
    </div>

    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left fa-rotate-45"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up fa-rotate-45"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-arrows"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left fa-rotate-315"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-down"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right fa-rotate-45"></i>
            </button>
        </div>

    </div>
    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-eye"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>

