    <button type="button"
            class="{% if uis.current == 'index' %} btn-menu-selected {% else %} btn-menu {% endif %} menu-top"
            id="sm_home_page"
            title="Home Page">
        <i class="fa fa-truck fa-3x"></i>
    </button>

    <button type="button"
            class="{% if uis.current == 'pictures' %} btn-menu-selected {% else %} btn-menu {% endif %}"
            id="sm_pictures_page"
            title="Pictures Page">
        <i class="fa fa-picture-o fa-3x"></i>
    </button>

    <button type="button"
            class="{% if uis.current == 'about' %} btn-menu-selected {% else %} btn-menu {% endif %} menu-bottom"
            id="sm_about_page"
            title="About">
        <i class="fa fa-tachometer fa-3x"></i>
    </button>




