<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a class="navbar-brand" href="/"><i class="fa fa-home hidden-xs"></i>&nbsp;RaspiRover </a>&nbsp;&nbsp;
                <a class="navbar-brand" href="/drive"><i class="fa fa-truck hidden-xs"></i>&nbsp;Drive Me </a>&nbsp;&nbsp;
                <a class="navbar-brand" href="/pictures"><i class="fa fa-picture-o hidden-xs"></i>&nbsp;Your Pictures </a>&nbsp;&nbsp;
                <a class="navbar-brand hidden-xs" href="/about"><i class="fa fa-question hidden-xs"></i>&nbsp;About </a>&nbsp;&nbsp;
            </li>
        </ul>
    </div>
</nav>
