<script type="application/javascript">

    $( document ).ready(function()
    {
        $("#to_home_lg").click(function(){ window.location.href = "/"; });
        $("#to_home_sm").click(function(){ window.location.href = "/"; });

        $("#restore").click(function(){
            $.get("/get/{{ image }}/0/0/0", function(data, status){
                alert("Response: " + data + "\nStatus: " + status);
                $("#zoomable_image").attr('src',"/static/tmp/cropped_image.jpg");
                return false;
            });

        });

        // zoomable_image
        // object.style.clip="rect(0px,50px,50px,0px)"

        // id="zoomable_image"

    });

</script>


<div class="dashboard-container visible-lg">

    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-disabled btn-lg">
                <i class="fa fa-download"></i>
            </button>
            <button type="button" class="btn btn-drive-disabled btn-lg">
                <i class="fa fa-map-marker"></i>
            </button>
            <button type="button" id="to_home_lg" class="btn btn-drive btn-lg">
                <i class="fa fa-close"></i>
            </button>
        </div>
    </div>


    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left fa-rotate-45"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right fa-rotate-315"></i>
            </button>
        </div>

        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg" id="restore">
                <i class="fa fa-arrows"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right"></i>
            </button>
        </div>

        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left fa-rotate-315"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-down"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right fa-rotate-45"></i>
            </button>
        </div>
    </div>

    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-binoculars"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>



<div class="dashboard-container visible-md visible-sm">

    <div class="col-md-3 drive-md-col col-sm-4">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-empty btn-lg"></button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up"></i>
            </button>
            <button type="button" class="btn btn-drive-empty btn-lg"></button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-arrows"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-empty btn-lg">

            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-down"></i>
            </button>
            <button type="button" class="btn btn-drive-empty btn-lg">

            </button>
        </div>
    </div>


    <div class="col-md-3 drive-md-col col-sm-4">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-binoculars"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>


    <div class="col-md-3 drive-md-col col-sm-4">
    </div>


    <div class="col-md-3 drive-md-col col-sm-4">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-download"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-map-marker"></i>
            </button>
            <button type="button" id="to_home_sm" class="btn btn-drive-center btn-lg">
                <i class="fa fa-close"></i>
            </button>
        </div>
    </div>

</div>
