<script type="application/javascript">

    var zoom_factor = 1.0;
    var zoom_center_x = 0.5;
    var zoom_center_y = 0.5;

    $( document ).ready(function()
    {
        $("#to_home_lg").click(function(){ window.location.href = "/"; });
        $("#to_home_sm").click(function(){ window.location.href = "/"; });

        $("#restore").click(function(){
            $.get("/ajax/zoom/{{ image }}/1.0", function(data, status){
                var results = JSON.parse( data );
                $("#zoomable_image").attr('src',results.url);
                zoom_factor = 1.0;
                return false;
            });
        });

        $("#zoom_in").click(function(){
            zoom_factor = zoom_factor * 0.75;
            $.get("/ajax/zoom/{{ image }}/" + zoom_factor , function(data, status){
                var results = JSON.parse( data );
                $("#zoomable_image").attr('src',results.url);
                return false;
            });
        });

        $("#zoom_out").click(function(){
            zoom_factor = zoom_factor / 0.75;
            if( zoom_factor > 1.0 ){ zoom_factor = 1.0; }
            $.get("/ajax/zoom/{{ image }}/" + zoom_factor , function(data, status){
                var results = JSON.parse( data );
                $("#zoomable_image").attr('src',results.url);
                return false;
            });
        });


    });

</script>


<div class="dashboard-container visible-lg">

    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-disabled btn-lg">
                <i class="fa fa-download"></i>
            </button>
            <button type="button" class="btn btn-drive-disabled btn-lg">
                <i class="fa fa-map-marker"></i>
            </button>
            <button type="button" id="to_home_lg" class="btn btn-drive btn-lg">
                <i class="fa fa-close"></i>
            </button>
        </div>
    </div>


    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left fa-rotate-45"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right fa-rotate-315"></i>
            </button>
        </div>

        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-arrows"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right"></i>
            </button>
        </div>

        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left fa-rotate-315"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-down"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right fa-rotate-45"></i>
            </button>
        </div>
    </div>

    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg" id="zoom_in">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg" id="restore">
                <i class="fa fa-binoculars"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg" id="zoom_out">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>



<div class="dashboard-container visible-md visible-sm">

    <div class="col-md-3 drive-md-col col-sm-4">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-empty btn-lg"></button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up"></i>
            </button>
            <button type="button" class="btn btn-drive-empty btn-lg"></button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-arrows"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-empty btn-lg">

            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-down"></i>
            </button>
            <button type="button" class="btn btn-drive-empty btn-lg">

            </button>
        </div>
    </div>


    <div class="col-md-3 drive-md-col col-sm-4">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-binoculars"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>


    <div class="col-md-3 drive-md-col col-sm-4">
    </div>


    <div class="col-md-3 drive-md-col col-sm-4">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-download"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-map-marker"></i>
            </button>
            <button type="button" id="to_home_sm" class="btn btn-drive-center btn-lg">
                <i class="fa fa-close"></i>
            </button>
        </div>
    </div>

</div>
