<script type="application/javascript">

    <!-- default values -->
    var menu_mode = 'zoom';
    var zoom_factor = 1.0;

    $( document ).ready(function() {

        $('#pan_menu').hide();
        $('#file_menu').hide();

        $("#toggle_menu_1").click(function () { toggle_menu(); });
        $("#toggle_menu_2").click(function () { toggle_menu(); });
        $("#toggle_menu_3").click(function () { toggle_menu(); });

        $("#zoom_in").click(function(){ zoom_in() });
        $("#zoom_out").click(function(){ zoom_out() });
        $("#zoom_restore").click(function(){ zoom_restore() });

        $("#pan_n").click(function(){ pan('N') });
        $("#pan_e").click(function(){ pan('E') });
        $("#pan_s").click(function(){ pan('S') });
        $("#pan_w").click(function(){ pan('W') });
        $("#pan_center").click(function(){ pan('C') });

    });

    function toggle_menu() {

        if( menu_mode == 'file' ) {
            menu_mode = 'zoom';
            $('#file_menu').hide();
            $('#pan_menu').hide();
            $('#zoom_menu').show();
        }
        else if( menu_mode == 'zoom' ) {
            menu_mode = 'pan';
            $('#zoom_menu').hide();
            $('#pan_menu').show();
            $('#file_menu').hide();
        }
        else if( menu_mode == 'pan' ) {
            menu_mode = 'file';
            $('#pan_menu').hide();
            $('#zoom_menu').hide();
            $('#file_menu').show();
        }
    }

    function zoom_in() {
        zoom_factor = zoom_factor * 0.75;
        $.get("/ajax/zoom/{{ image }}/" + zoom_factor , function(data, status){
            var results = JSON.parse( data );
            $("#zoomable_image").attr('src',results.url);
            return false;
        });
    }

    function zoom_out() {
        zoom_factor = zoom_factor / 0.75;
        if( zoom_factor > 1.0 ){ zoom_factor = 1.0; }
        $.get("/ajax/zoom/{{ image }}/" + zoom_factor , function(data, status){
            var results = JSON.parse( data );
            $("#zoomable_image").attr('src',results.url);
            return false;
        });
    }

    function zoom_restore() {
        $.get("/ajax/zoom/{{ image }}/1.0", function(data, status){
            var results = JSON.parse( data );
            $("#zoomable_image").attr('src',results.url);
            zoom_factor = 1.0;
            return false;
        });

    }

    function pan(direction) {
        $.get("/ajax/pan/{{ image }}/" + direction , function(data, status){
            var results = JSON.parse( data );
            $("#zoomable_image").attr('src',results.url);
            return false;
        });

    }

</script>

<div id="pan_menu">
    <button type="button" class="btn-menu menu-top" id="pan_n" title="Pan Up">
        <i class="fa fa-binoculars fa-rotate-180 fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="pan_w" title="Pan Left">
        <i class="fa fa-binoculars fa-rotate-90 fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="pan_center" title="Back To Center">
        <i class="fa fa-crosshairs fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="pan_e" title="Pan Right">
        <i class="fa fa-binoculars fa-rotate-270 fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="pan_s" title="Pan Down">
        <i class="fa fa-binoculars fa-3x"></i>
    </button>
    <button type="button" class="btn btn-instrument menu-bottom" id="toggle_menu_1" title="Pan">
        <i class="fa fa-arrows fa-3x"></i>
    </button>
</div>

<div id="zoom_menu">
    <button type="button" class="btn-menu menu-top" id="zoom_in" title="Zoom In">
        <i class="fa fa-search-plus fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="zoom_restore" title="No Zoom">
        <i class="fa fa-search fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="zoom_out" title="Zoom Out">
        <i class="fa fa-search-minus fa-3x"></i>
    </button>
    <button type="button" class="btn btn-instrument menu-bottom" id="toggle_menu_2" title="Zoom In/Out Of Image">
        <i class="fa fa-search fa-3x"></i>
    </button>
</div>


<div id="file_menu">
    <button type="button" class="btn-menu menu-top" id="awb_sunlight" title="Send File">
        <i class="fa fa-cloud-upload fa-3x"></i>
    </button>

    <button type="button" class="btn-menu" id="awb_cloudy" title="Delete">
        <i class="fa fa-remove fa-3x"></i>
    </button>

    <button type="button" class="btn-menu" id="awb_fluorescent" title="File Details">
        <i class="fa fa-list fa-3x"></i>
    </button>

    <button type="button" class="btn btn-instrument menu-bottom" id="toggle_menu_3" title="File Menu">
        <i class="fa fa-file fa-3x"></i>
    </button>
</div>
