<script type="application/javascript">

    var menu_mode = 'drive';
    var web_cam_timer = '';
    var motor_speed = {{ uis['motor_speed'] }}

    $( document ).ready(function() {

        $('#fpv_menu').hide();
        $('#color_menu').hide();
        $('#speed_menu').hide();

        $("#sm_rover_forward").click(function () { rover_forward(2); });
        $("#sm_rover_backward").click(function () { rover_backward(2); });
        $("#sm_rover_ccw").click(function () { rover_ccw(31); });
        $("#sm_rover_cw").click(function () { rover_cw(31); });

        $("#toggle_menu_1").click(function () { toggle_menu(); });
        $("#toggle_menu_2").click(function () { toggle_menu(); });
        $("#toggle_menu_3").click(function () { toggle_menu(); });
        $("#toggle_menu_4").click(function () { toggle_menu(); });

        $("#color_sunlight").click(function () { set_color_mode('sunlight'); });
        $("#color_cloudy").click(function () { set_color_mode('cloudy'); });
        $("#color_fluorescent").click(function () { set_color_mode('fluorescent'); });
        $("#color_tungsten").click(function () { set_color_mode('tungsten'); });
        $("#color_auto").click(function () { set_color_mode('auto'); });

        $("#sm_speed_max").click(function () { refresh_speed_options(2.0); });
        $("#sm_speed_fast").click(function () { refresh_speed_options(1.5); });
        $("#sm_speed_reset").click(function () { refresh_speed_options(1.0); });
        $("#sm_speed_creep").click(function () { refresh_speed_options(0.75); });

        {% if uis['servo_vert'] == 'active' %}
            $("#sm_gimbal_up").click(function () { gimbal_up(10); });
            $("#sm_gimbal_down").click(function () { gimbal_down(10); });
        {% endif %}

        $("#sm_gimbal_center").click(function () { gimbal_center(); });

        {% if uis['servo_horz'] == 'active' %}
            $("#sm_gimbal_left").click(function () { gimbal_left(10); });
            $("#sm_gimbal_right").click(function () { gimbal_right(10); });
        {% endif %}
    });

    function toggle_menu() {

        if( menu_mode == 'fpv' ) {
            menu_mode = 'drive';
            $('#fpv_menu').hide();
            $('#color_menu').hide();
            $('#drive_menu').show();
            $('#speed_menu').hide();
        }
        else if( menu_mode == 'drive' ) {
            menu_mode = 'speed';
            $('#drive_menu').hide();
            $('#color_menu').hide();
            $('#fpv_menu').hide();
            $('#speed_menu').show();
            refresh_speed_options( motor_speed )
        }
        else if( menu_mode == 'speed' ) {
            menu_mode = 'color';
            $('#drive_menu').hide();
            $('#color_menu').show();
            $('#fpv_menu').hide();
            $('#speed_menu').hide();
        }
        else if( menu_mode == 'color' ) {
            menu_mode = 'fpv';
            $('#color_menu').hide();
            $('#drive_menu').hide();
            $('#fpv_menu').show();
            $('#speed_menu').hide();
        }
    }

    function refresh_speed_options( new_speed ) {
        motor_speed = new_speed;
        if ( motor_speed == 0.75 ) {
                $('#sm_speed_creep').addClass('btn-menu-selected');
                $('#sm_speed_reset').removeClass('btn-menu-selected');
                $('#sm_speed_fast').removeClass('btn-menu-selected');
                $('#sm_speed_max').removeClass('btn-menu-selected');
                {% if uis['drive'] == 'active' %} rover_speed(motor_speed); {% endif %}
            }
            else if( motor_speed == 1.5 ) {
                $('#sm_speed_creep').removeClass('btn-menu-selected');
                $('#sm_speed_reset').removeClass('btn-menu-selected');
                $('#sm_speed_fast').addClass('btn-menu-selected');
                $('#sm_speed_max').removeClass('btn-menu-selected')
                {% if uis['drive'] == 'active' %} rover_speed(motor_speed); {% endif %}
            }
            else if( motor_speed == 2.0 ) {
                $('#sm_speed_creep').removeClass('btn-menu-selected');
                $('#sm_speed_reset').removeClass('btn-menu-selected');
                $('#sm_speed_fast').removeClass('btn-menu-selected');
                $('#sm_speed_max').addClass('btn-menu-selected');
                {% if uis['drive'] == 'active' %} rover_speed(motor_speed); {% endif %}
            }
            else {
                $('#sm_speed_creep').removeClass('btn-menu-selected');
                $('#sm_speed_reset').addClass('btn-menu-selected');
                $('#sm_speed_fast').removeClass('btn-menu-selected');
                $('#sm_speed_max').removeClass('btn-menu-selected');
                motor_speed = 1.0
                {% if uis['drive'] == 'active' %} rover_speed(motor_speed); {% endif %}
            }
    }

    function set_color_mode( mode ) { $.get("/ajax/camera/color_mode/" + mode , function(data, status){ return false; }); }

    {% if uis['drive'] == 'active' %}
    function rover_forward( seconds ) {
        clearInterval(web_cam_timer);
        $.get("/ajax/motor/forward/crawl/" + seconds , function(data, status){ return false; });
        web_cam_timer = setInterval(function () { view_refresh(); }, 5000);
    }

    function rover_backward( seconds ) {
        clearInterval(web_cam_timer);
        $.get("/ajax/motor/backward/crawl/" + seconds , function(data, status){ return false; });
        web_cam_timer = setInterval(function () { view_refresh(); }, 5000);
    }

    function rover_ccw( seconds ) {
        clearInterval(web_cam_timer);
        $.get("/ajax/motor/rotate/ccw/" + seconds , function(data, status){ return false; });
        web_cam_timer = setInterval(function () { view_refresh(); }, 5000);
    }

    function rover_cw( seconds ) {
        clearInterval(web_cam_timer);
        $.get("/ajax/motor/rotate/cw/" + seconds , function(data, status){ return false; });
        web_cam_timer = setInterval(function () { view_refresh(); }, 5000);
    }

    function rover_speed( multiplier ) {
        $.get("/ajax/motor/speed/" + multiplier , function(data, status){ return false; });
    }

    {% endif %}


    {% if uis['servo_vert'] == 'active' %}

        function gimbal_up( degrees ) {
            $.get("/ajax/gimbal/rotate/up/" + degrees , function(data, status){ return false; });
            view_refresh();
        }

        function gimbal_down( degrees ) {
            $.get("/ajax/gimbal/rotate/down/" + degrees , function(data, status){ return false; });
            view_refresh();
        }
    {% endif %}

    {% if uis['servo_horz'] == 'active' %}

        function gimbal_left( degrees ) {
            $.get("/ajax/gimbal/rotate/left/" + degrees , function(data, status){ return false; });
            view_refresh();
        }

        function gimbal_right( degrees ) {
            $.get("/ajax/gimbal/rotate/right/" + degrees , function(data, status){ return false; });
            view_refresh();
        }
    {% endif %}

    function gimbal_center() {
        $.get("/ajax/gimbal/center", function(data, status){ return false; });
        view_refresh();
    }

</script>

<div id="drive_menu">
    <button type="button" class="btn-menu menu-top" id="sm_rover_forward" title="Move Forward">
        <i class="fa fa-backward fa-rotate-90 fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="sm_rover_ccw" title="Rotate Left">
        <i class="fa fa-rotate-left fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="sm_rover_stop" title="Stop!">
        <i class="fa fa-hand-stop-o fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="sm_rover_cw" title="Rotate Right">
        <i class="fa fa-rotate-right fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="sm_rover_backward" title="Backup">
        <i class="fa fa-backward fa-rotate-270 fa-3x"></i>
    </button>
    <button type="button" class="btn-menu-selected menu-bottom" id="toggle_menu_1" title="Drive The Rover">
        <i class="fa fa-truck fa-3x"></i>
    </button>
</div>


<div id="speed_menu">
    <button type="button" class="btn-menu menu-top" id="sm_speed_max" title="Max Speed">
        <B>MAX</B>
    </button>
    <button type="button" class="btn-menu" id="sm_speed_fast" title="Speed 1.5x">
        <B>FAST</B>
    </button>
    <button type="button" class="btn-menu" id="sm_speed_reset" title="Normal Speed">
        <B>NORMAL</B>
    </button>
    <button type="button" class="btn-menu" id="sm_speed_creep" title="Creep">
        <B>SLOW</B>
    </button>

    <button type="button" class="btn-menu-selected menu-bottom" id="toggle_menu_4" title="Adjust Rover Speed">
        <i class="fa fa-tachometer fa-3x"></i>
    </button>
</div>


<div id="fpv_menu">

    <button type="button" class="btn-menu menu-top" id="sm_gimbal_up" title="Look Up">
        <i class="fa fa-binoculars fa-rotate-180 fa-3x"></i>
    </button>

    {% if uis['servo_horz'] == 'active' %}
    <button type="button" class="btn-menu" id="sm_gimbal_left" title="Look Left">
        <i class="fa fa-binoculars fa-rotate-90 fa-3x"></i>
    </button>
    {% endif %}

    <button type="button" class="btn-menu" id="sm_gimbal_center" title="Center The Camera">
        <i class="fa fa-crosshairs fa-3x"></i>
    </button>

    {% if uis['servo_horz'] == 'active' %}
    <button type="button" class="btn-menu" id="sm_gimbal_right" title="Look Right">
        <i class="fa fa-binoculars fa-rotate-270 fa-3x"></i>
    </button>
    {% endif %}

    <button type="button" class="btn-menu" id="sm_gimbal_down" title="Look Down">
        <i class="fa fa-binoculars fa-3x"></i>
    </button>

    <button type="button" class="btn-menu-selected menu-bottom" id="toggle_menu_2" title="Aim Camera">
        <i class="fa fa-video-camera fa-3x"></i>
    </button>
</div>


<div id="color_menu">
    <button type="button" class="btn-menu menu-top" id="color_sunlight" title="Sun Light">
        <i class="fa fa-sun-o fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="color_cloudy" title="Cloudy">
        <i class="fa fa-cloud fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="color_tungsten" title="Tungsten Light">
        <i class="fa fa-lightbulb-o fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="color_fluorescent" title="Fluorescent">
        <i class="fa fa-bars fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="color_auto" title="Auto">
        <i class="fa fa-magic fa-3x"></i>
    </button>
    <button type="button" class="btn-menu-selected menu-bottom" id="toggle_menu_3" title="Color Balance">
        <i class="fa fa-eye fa-3x"></i>
    </button>
</div>
