    <button type="button" class="btn btn-menu btn-xlg" id="lg_home_page" title="Home Page">
        <i class="fa fa-home fa-3x"></i>
    </button>
    <button type="button" class="btn btn-menu btn-xlg" id="lg_pictures_page" title="Pictures Page">
        <i class="fa fa-picture-o fa-3x"></i>
    </button>
    <button type="button" class="btn btn-menu btn-xlg" id="lg_about_page" title="About">
        <i class="fa fa-tachometer fa-3x"></i>
    </button>
    <button type="button" class="btn btn-instrument-xlg{{ uis['camera'] }}" id="lg_take_picture" title="Take A Hires Picture">
        <i class="fa fa-camera-retro fa-3x"></i>
    </button>



