<script type="application/javascript">

    var menu_mode = 'fpv';
    var web_cam_timer = '';

    $( document ).ready(function() {

        $('#drive_menu').hide();
        $('#color_menu').hide();

        $("#sm_rover_forward").click(function () { rover_forward(2); });
        $("#sm_rover_backward").click(function () { rover_backward(2); });
        $("#sm_rover_ccw").click(function () { rover_ccw(31); });
        $("#sm_rover_cw").click(function () { rover_cw(31); });

        $("#toggle_menu_1").click(function () { toggle_menu(); });
        $("#toggle_menu_2").click(function () { toggle_menu(); });
        $("#toggle_menu_3").click(function () { toggle_menu(); });

        $("#color_sunlight").click(function () { set_color_mode('sunlight'); });
        $("#color_cloudy").click(function () { set_color_mode('cloudy'); });
        $("#color_fluorescent").click(function () { set_color_mode('fluorescent'); });
        $("#color_tungsten").click(function () { set_color_mode('tungsten'); });
        $("#color_auto").click(function () { set_color_mode('auto'); });
    });

    function toggle_menu() {

        if( menu_mode == 'fpv' ) {
            menu_mode = 'drive';
            $('#fpv_menu').hide();
            $('#color_menu').hide();
            $('#drive_menu').show();
        }
        else if( menu_mode == 'drive' ) {
            menu_mode = 'color';
            $('#drive_menu').hide();
            $('#color_menu').show();
            $('#fpv_menu').hide();
        }
        else if( menu_mode == 'color' ) {
            menu_mode = 'fpv';
            $('#color_menu').hide();
            $('#drive_menu').hide();
            $('#fpv_menu').show();
        }
    }

    function set_color_mode( mode ) { $.get("/ajax/camera/color_mode/" + mode , function(data, status){ return false; }); }

    {% if uis['drive'] == 'active' %}
    function rover_forward( seconds ) {
        clearInterval(web_cam_timer);
        $.get("/ajax/motor/forward/crawl/" + seconds , function(data, status){ return false; });
        web_cam_timer = setInterval(function () { view_refresh(); }, 5000);
    }

    function rover_backward( seconds ) {
        clearInterval(web_cam_timer);
        $.get("/ajax/motor/backward/crawl/" + seconds , function(data, status){ return false; });
        web_cam_timer = setInterval(function () { view_refresh(); }, 5000);
    }

    function rover_ccw( seconds ) {
        clearInterval(web_cam_timer);
        $.get("/ajax/motor/rotate/ccw/" + seconds , function(data, status){ return false; });
        web_cam_timer = setInterval(function () { view_refresh(); }, 5000);
    }

    function rover_cw( seconds ) {
        clearInterval(web_cam_timer);
        $.get("/ajax/motor/rotate/cw/" + seconds , function(data, status){ return false; });
        web_cam_timer = setInterval(function () { view_refresh(); }, 5000);
    }
    {% endif %}

</script>

<div id="drive_menu">
    <button type="button" class="btn-menu menu-top" id="sm_rover_forward" title="Move Forward">
        <i class="fa fa-backward fa-rotate-90 fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="sm_rover_ccw" title="Rotate Left">
        <i class="fa fa-rotate-left fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="sm_rover_stop" title="Stop!">
        <i class="fa fa-hand-stop-o fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="sm_rover_cw" title="Rotate Right">
        <i class="fa fa-rotate-right fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="sm_rover_backward" title="Backup">
        <i class="fa fa-backward fa-rotate-270 fa-3x"></i>
    </button>
    <button type="button" class="btn-menu-selected menu-bottom" id="toggle_menu_1" title="Drive The Rover">
        <i class="fa fa-truck fa-3x"></i>
    </button>
</div>

<div id="fpv_menu">
    <button type="button" class="btn-menu menu-top" id="sm_turn_cam_up" title="Look Up">
        <i class="fa fa-binoculars fa-rotate-180 fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="sm_turn_cam_left" title="Look Left">
        <i class="fa fa-binoculars fa-rotate-90 fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="sm_center_cam" title="Center The Camera">
        <i class="fa fa-crosshairs fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="sm_turn_cam_right" title="Look Right">
        <i class="fa fa-binoculars fa-rotate-270 fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="sm_turn_cam_down" title="Look Down">
        <i class="fa fa-binoculars fa-3x"></i>
    </button>
    <button type="button" class="btn-menu-selected menu-bottom" id="toggle_menu_2" title="Aim Camera">
        <i class="fa fa-video-camera fa-3x"></i>
    </button>
</div>


<div id="color_menu">
    <button type="button" class="btn-menu menu-top" id="color_sunlight" title="Sun Light">
        <i class="fa fa-sun-o fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="color_cloudy" title="Cloudy">
        <i class="fa fa-cloud fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="color_tungsten" title="Tungsten Light">
        <i class="fa fa-lightbulb-o fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="color_fluorescent" title="Fluorescent">
        <i class="fa fa-bars fa-3x"></i>
    </button>
    <button type="button" class="btn-menu" id="color_auto" title="Auto">
        <i class="fa fa-magic fa-3x"></i>
    </button>
    <button type="button" class="btn-menu-selected menu-bottom" id="toggle_menu_3" title="Color Balance">
        <i class="fa fa-eye fa-3x"></i>
    </button>
</div>
