<script type="application/javascript">

    var zoom_factor = 1.0;

    $( document ).ready(function()
    {
        $("#to_home_lg").click(function(){ window.location.href = "/"; });
        $("#to_home_md").click(function(){ window.location.href = "/"; });
        $("#to_home_sm").click(function(){ window.location.href = "/"; });

        $("#zoom_in_lg").click(function(){ zoom_in() });
        $("#zoom_in_md").click(function(){ zoom_in() });
        $("#zoom_in_sm").click(function(){ zoom_in() });

        $("#zoom_out_lg").click(function(){ zoom_out() });
        $("#zoom_out_md").click(function(){ zoom_out() });
        $("#zoom_out_sm").click(function(){ zoom_out() });

        $("#zoom_restore_lg").click(function(){ zoom_restore() });
        $("#zoom_restore_md").click(function(){ zoom_restore() });
        $("#zoom_restore_sm").click(function(){ zoom_restore() });

        $("#pan_n_lg").click(function(){ pan('N') });
        $("#pan_ne_lg").click(function(){ pan('NE') });
        $("#pan_e_lg").click(function(){ pan('E') });
        $("#pan_se_lg").click(function(){ pan('SE') });
        $("#pan_s_lg").click(function(){ pan('S') });
        $("#pan_sw_lg").click(function(){ pan('SW') });
        $("#pan_w_lg").click(function(){ pan('W') });
        $("#pan_nw_lg").click(function(){ pan('NW') });
        $("#pan_center_lg").click(function(){ pan('C') });

        $("#pan_n_sm").click(function(){ pan('N') });
        $("#pan_ne_sm").click(function(){ pan('NE') });
        $("#pan_e_sm").click(function(){ pan('E') });
        $("#pan_se_sm").click(function(){ pan('SE') });
        $("#pan_s_sm").click(function(){ pan('S') });
        $("#pan_sw_sm").click(function(){ pan('SW') });
        $("#pan_w_sm").click(function(){ pan('W') });
        $("#pan_nw_sm").click(function(){ pan('NW') });
        $("#pan_center_sm").click(function(){ pan('C') });

    });

    function zoom_in() {
        zoom_factor = zoom_factor * 0.75;
        $.get("/ajax/zoom/{{ image }}/" + zoom_factor , function(data, status){
            var results = JSON.parse( data );
            $("#zoomable_image").attr('src',results.url);
            return false;
        });
    }

    function zoom_out() {
        zoom_factor = zoom_factor / 0.75;
        if( zoom_factor > 1.0 ){ zoom_factor = 1.0; }
        $.get("/ajax/zoom/{{ image }}/" + zoom_factor , function(data, status){
            var results = JSON.parse( data );
            $("#zoomable_image").attr('src',results.url);
            return false;
        });
    }

    function zoom_restore() {
        $.get("/ajax/zoom/{{ image }}/1.0", function(data, status){
            var results = JSON.parse( data );
            $("#zoomable_image").attr('src',results.url);
            zoom_factor = 1.0;
            return false;
        });

    }

    function pan(compass_direction) {
        $.get("/ajax/pan/{{ image }}/" + compass_direction , function(data, status){
            var results = JSON.parse( data );
            $("#zoomable_image").attr('src',results.url);
            return false;
        });

    }


</script>


<div class="dashboard-container visible-lg">

    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-disabled btn-lg">
                <i class="fa fa-download"></i>
            </button>
            <button type="button" class="btn btn-drive-disabled btn-lg">
                <i class="fa fa-map-marker"></i>
            </button>
            <button type="button" id="to_home_lg" class="btn btn-drive btn-lg">
                <i class="fa fa-close"></i>
            </button>
        </div>
    </div>


    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg" id="pan_nw_lg">
                <i class="fa fa-hand-o-left fa-rotate-45"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg" id="pan_n_lg">
                <i class="fa fa-hand-o-up"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg" id="pan_ne_lg">
                <i class="fa fa-hand-o-right fa-rotate-315"></i>
            </button>
        </div>

        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg" id="pan_w_lg">
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg" id="pan_center_lg">
                <i class="fa fa-arrows"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg" id="pan_e_lg">
                <i class="fa fa-hand-o-right"></i>
            </button>
        </div>

        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg" id="pan_sw_lg">
                <i class="fa fa-hand-o-left fa-rotate-315"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg" id="pan_s_lg">
                <i class="fa fa-hand-o-down"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg" id="pan_se_lg">
                <i class="fa fa-hand-o-right fa-rotate-45"></i>
            </button>
        </div>
    </div>

    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg" id="zoom_in_lg">
                <i class="fa fa-search-plus"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg" id="zoom_restore_lg">
                <i class="fa fa-binoculars"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg" id="zoom_out_lg">
                <i class="fa fa-search-minus"></i>
            </button>
        </div>
    </div>
</div>



<div class="dashboard-container visible-md visible-sm">

    <div class="col-md-3 drive-md-col col-sm-4">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-empty btn-lg"></button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up"></i>
            </button>
            <button type="button" class="btn btn-drive-empty btn-lg"></button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-arrows"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-empty btn-lg">

            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-down"></i>
            </button>
            <button type="button" class="btn btn-drive-empty btn-lg">

            </button>
        </div>
    </div>


    <div class="col-md-3 drive-md-col col-sm-4">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg" id="zoom_in_sm">
                <i class="fa fa-search-plus"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg" id="zoom_restore_sm">
                <i class="fa fa-binoculars"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg" id="zoom_out_sm">
                <i class="fa fa-search-minus"></i>
            </button>
        </div>
    </div>


    <div class="col-md-3 drive-md-col col-sm-4">
    </div>


    <div class="col-md-3 drive-md-col col-sm-4">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-download"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-map-marker"></i>
            </button>
            <button type="button" id="to_home_sm" class="btn btn-drive-center btn-lg">
                <i class="fa fa-close"></i>
            </button>
        </div>
    </div>

</div>
