@import "bootstrap.css";

@disabled: #4f4f4f;

body {
  background: black;
  color: yellow;
}

.thumbnail_container {
    margin: 20px;
    padding: 20px;
}

.navbar {
    &:extend(.navbar);
    border-radius: 0;
    color: white;
    background: black;
}

.button_bar_bottom {
    text-align: center;
    align-content: center;
}

.vert-button-menu-col {
    width: 110px;
    float: left;
}

.view-row {
    height: 600px;
}

.index-viewport {
    padding: 6px;
    float: left;
    max-height: 550px;
}

.index-viewport > image {
    max-height: 550px;
    max-width: 100%;
}

.drive-viewport, .viewport {
    padding: 4px;
    text-align: center;
    align-content: center;
    align-content: right;
    min-width: 600px;
}

.drive-viewport > img {
    align-content: center;
}

.index-container {
    &:extend(.container-fluid);
    padding: 4px;
    text-align: center;
    align-content: center;
}

.dashboard-button-row {
    &:extend(.col-lg-12);
    padding: 2px;
    margin-left: 0;
}

.dashboard {
    background: black;
    padding-top: 12px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.instrument-row {
    &:extend(.row);
    margin: 0;
    margin-top: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-drive {
    &:extend(.btn-lg);
    background-color: darkolivegreen;
    border-color: olivedrab;
    color: black;
    margin-top: 4px;
    width: 50px;
    border: 2px solid;
    width: 60px;
}

.btn-xlg {
    &:extend(.btn-lg);
    height: 90px;
    width: 90px;
    color: black;
    border-color: olivedrab;
    background-color: darkolivegreen;
    border: 3px solid;
    border-radius: 10px;
}

.btn-instrument-xlg {
    &:extend(.btn-xlg);
    background-color: black;
    border-color: darkgray;
    color: gray;
    margin-top: 4px;
}

.btn-instrument-xlg-disabled {
    &:extend(.btn-xlg);
    background-color: black;
    border-color: @disabled;
    color: @disabled;
    margin-top: 4px;
}

.btn-instrument-lg {
    &:extend(.btn-lg);
    background-color: black;
    border-color: darkgray;
    color: gray;
    margin-top: 4px;
    border: 2px solid;
    padding: 10px;
    width: 60px;
}

.btn-instrument-lg-disabled {
    &:extend(.btn-lg);
    background-color: black;
    border-color: @disabled;
    color: @disabled;
    margin-top: 4px;
    border: 2px solid;
    padding: 10px;
    width: 60px;
}

.btn-col {
    padding-left: 4px;
    padding-right: 4px;
}

.btn-drive:hover {
    color: olive;
}

.drive-md-col:extend(.col-md-3) {
    text-align: center;
}

.xbtn-drive-left, .xbtn-drive-right {
    &:extend(.btn-drive);
}

.btn-drive-center {
    &:extend(.btn-lg);
    background-color: black;
    border-color: darkgray;
    color: darkgray;
    width: 60px;
    padding: 8px;
    height: 41px;
    margin-top: 2px;
    border: 2px solid;
}

.btn-drive-empty {
    &:extend(.btn-lg);
    background-color: black;
    border-color: black;
    color: black;
    width: 50px;
    padding: 8px;
    height: 41px;
    margin-top: 2px;
}

.btn-drive-disabled {
    &:extend(.btn-lg);
    background-color: #2d3f0e;
    border-color: #2d3f0e;
    color: black;
    width: 50px;
    padding: 8px;
    height: 41px;
    margin-top: 2px;
}

.btn-instrument-lg > .fa-wifi { color: dodgerblue; }
.btn-instrument-xlg > .fa-wifi { color: dodgerblue; }

.btn-instrument > .fa-battery-full { color: lawngreen; }
.btn-instrument-xlg > .fa-battery-full { color: lawngreen; }

.btn-instrument > .fa-battery-full { color: lawngreen; }
.btn-instrument-xlg > .fa-battery-full { color: lawngreen; }

.btn-instrument > .fa-thermometer-2 { color: lawngreen; }
.btn-instrument-xlg > .fa-thermometer-2 { color: lawngreen; }

.btn-instrument     > .fa-long-arrow-up { color: red; }
.btn-instrument-xlg > .fa-long-arrow-up { color: red; }

.btn-instrument     > .fa-handshake-o { color: white; }
.btn-instrument-xlg > .fa-handshake-o { color: white; }

.btn-instrument     > .fa-balance-scale { color: white; }
.btn-instrument-xlg > .fa-balance-scale { color: white; }

.btn-instrument-xlg > .fa-camera-retro { color: olivedrab; }

.btn-instrument-disabled > i { color: @disabled; }
.btn-instrument-lg-disabled > i { color: @disabled; }
.btn-instrument-xlg-disabled > i { color: @disabled; }

.fa-rotate-11:extend(.fa-rotate-90) { transform: rotate(11deg); }
.fa-rotate-45:extend(.fa-rotate-90) { transform: rotate(45deg); }
.fa-rotate-315:extend(.fa-rotate-90) { transform: rotate(315deg); }
.fa-rotate-225:extend(.fa-rotate-90) { transform: rotate(225deg); }
.fa-rotate-135:extend(.fa-rotate-90) { transform: rotate(135deg); }

#zoomable_image {
    position: absolute;
    width: 960px;
    height: 720px;
    background-color: black;
}

canvas {
    display:block;
    margin:1em auto;
    background: black;
    border:1px solid red }

.nav_column {
    min-width: 98px;
    padding: 3px;
    vertical-align: bottom;
}

.view_column {
    padding-left: 1px;
    padding-top: 8px;
    padding-right: 1px;
}

.navbar-inverse {
    margin-top: 2px;
    color: white;
    background: black;

    a > span {
        color: white;
    }

    a {
        color: white;
    }

    .navbar-brand {
        color: white;
        background: black;
    }

    .navbar-nav > li > a {
        color: white;
    }

    .dropdown-menu > li > a {
        color: white;
        background: black;
    }

    .dropdown-menu {
        background: black;
        border-color: white;
    }

    .navbar-colapse {
        background: black;
        color: darkgray;
    }

    .navbar-nav > .open > a:focus {
        background: black;
        color: black;
    }

}

