<html>
<head>
    <link rel="stylesheet" href="/static/css/high-contrast-theme.css?q=20170208q" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="application/javascript">

    $( document ).ready(function()
    {
        {% include 'partials/common_button_methods.js' %}
    });

</script>

    <table>
        <tr>
            <td rowspan="2" valign="bottom" width="98px">
                {% include 'partials/nav_sm_grid_menu.html' %}

                <button type="button" class="btn-instrument" id="lg_git_update" title="Update This Rover">
                    <i class="fa fa-cloud-download fa-3x"></i>
                </button>

            </td>
            <td valign="center" align="center" width="100%">

                <h2>Raspi Rover OS</h2>
                <ul>
                    <li>
                        Picamera
                    </li>
                    <li>
                        Adafruit Motor Hat
                    </li>
                    <li>
                        https://learn.adafruit.com/adafruit-dc-and-stepper-motor-hat-for-raspberry-pi/installing-software
                    </li>
                </ul>

            </td>
            <td rowspan="2" valign="bottom" width="98px">
                {% include 'partials/vert_toggle_drive_menu.html' %}
            </td>
        </tr>
        <tr>
            <td align="center" valign="bottom" height="98px">
                {% include 'partials/instrument_bar.html' %}
            </td>
        </tr>
    </table>

</body>
</html>