<html>
<head>
    <link rel="stylesheet" href="/static/css/high-contrast-theme.css?q=20170205f" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="application/javascript">

    $( document ).ready(function()
    {
        {% include 'partials/common_button_methods.js' %}
    });

</script>

<div class="index-container">

    <div class="dashboard-button-row">
        <div class="vert-button-menu-col" >

            {% include 'partials/vert_button_menu.html' %}

        </div>
        <div class="index-viewport">

            <ul>
                <li>Hello</li>
            </ul>

        </div>

    </div>

</div>

</body>
</html>