<html>
<head>
    <link rel="stylesheet" href="/static/css/high-contrast-theme.css?q=2016121838" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="application/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })


    $( document ).ready(function()
    {
        $("#to_home_lg").click(function(){ window.location.href = "/"; });
        $("#to_home_sm").click(function(){ window.location.href = "/"; });

    });



    // $('#to_home').click( alert('ding') )

    // window.location.href = "/"
    // $(location).attr('href', 'http://stackoverflow.com')

</script>

<div class="dashboard-container">

    <div class="row">
        <div class="col-lg-10 col-md-16 viewport">
            <image class="img-responsive" src="static/webcam/161220093000.jpg" />
        </div>

        <div class="col-lg-2 col-md-16">
            {% include 'partials/instruments.html' %}
        </div>
    </div>

</div>

</body></html>