<html>
<head>
    <link rel="stylesheet" href="/static/css/high-contrast-theme.css?q=20170219d" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="application/javascript">

    $( document ).ready(function()
    {

        {% include 'partials/common_button_methods.js' %}

        {% if uis['camera'] == '' %}
            $('#stop_refresh_sm').click(function() { clearInterval(interval); });
            var web_cam_timer = setInterval(function () { view_refresh(); }, 5000);
        {% endif %}
    });

    function view_refresh() {
        $.get("/ajax/view_refresh", function(data, status){
            var results = JSON.parse( data );
            $("#view").attr('src',results.url);
            return false;
        });
    }

</script>

<div class="index-container visible-lg">
    <div class="dashboard-button-row">
        <div class="col-lg-1" >

            {% include 'partials/nav_lg_grid_menu.html' %}

        </div>
        <div class="index-viewport col-lg-11 ">

            <image class="img-responsive" src="{{ image }}" />

        </div>
    </div>
</div>


<div class="index-container visible-md visible-sm">

    <table>
        <tr>
            <td rowspan="2" valign="bottom" width="98px">
                {% include 'partials/nav_sm_grid_menu.html' %}

                <button type="button" class="btn btn-instrument-{{ uis['camera'] }} menu-top menu-bottom" id="lg_take_picture" title="Take A Hires Picture">
                    <i class="fa fa-camera-retro fa-3x"></i>
                </button>

            </td>
            <td valign="bottom" width="100%">
                <image class="img-responsive" src="{{ image }}" id="view"/>
            </td>
            <td rowspan="2" valign="bottom" width="98px">
                {% include 'partials/vert_toggle_drive_menu.html' %}
            </td>
        </tr>
        <tr>
            <td align="center" valign="bottom" height="98px">
                {% include 'partials/instrument_bar.html' %}
            </td>
        </tr>
    </table>

</div>

</body>
</html>