<html>
<head>
    <link rel="stylesheet" href="/static/css/high-contrast-theme.css?q=20170202k" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="application/javascript">

    $( document ).ready(function()
    {
        $("#drive_sm").click(function(){ window.location.href = "/drive"; });
        $("#status_sm").click(function(){ window.location.href = "/status"; });
        $("#pictures_sm").click(function(){ window.location.href = "/pictures"; });
    });

</script>

<div class="index-container visible-md visible-sm">

    <div class="dashboard-button-row">
        <div class="col-md-1 col-sm-1 nav_column" >
            {% include 'partials/button_bar_left.html' %}
        </div>
        <div class="col-md-9 col-sm-9 view_column">

            <image class="img-responsive" src="{{ image }}" />

        </div>
        <div class="col-md-1 col-sm-1 nav_column" >
            {% include 'partials/button_bar_right.html' %}
        </div>
    </div>

    <div class="dashboard-button-row">
        <div class="col-md-12 col-sm-12 button_bar_bottom"  >
            {% include 'partials/instrument_bar.html' %}
        </div>
    </div>
</div>

<div class="index-container visible-lg">
    {% include 'partials/navbar.html' %}
</div>


</body>
</html>