<html>
<head>
    <link rel="stylesheet" href="/static/css/theme-lg4-green.css?q=20170307" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="application/javascript">

        $( document ).ready(function()
        {
            {% include 'partials/common_button_methods.js' %}


        });

    </script>

</body></html>