<html>
<head>
    <link rel="stylesheet" href="/static/css/high-contrast-theme.css?q=20170219d" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="application/javascript">

    $( document ).ready(function()
    {
        {% include 'partials/common_button_methods.js' %}
    });

</script>

    <table>
        <tr>
            <td class="hidden-sm visible-md visible-lg" valign="top">
                {% include 'partials/nav_lg_grid_menu.html' %}
            </td>
            <td class="visible-sm hidden-lg" valign="bottom">
                {% include 'partials/nav_sm_grid_menu.html' %}
            </td>
            <td>
                <div class="thumbnail_container">

                    {% for pic in pictures %}
                        <div class="col-lg-2 col-md-4 col-sm-3 col-xs-3">
                            <a href="{{ pic['view_url'] }}" class="thumbnail">
                                <img class="thumbnail-max" src="{{ pic['thumbnail'] }}">
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </td>
        </tr>
    </table>





</body>
</html>