    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left fa-rotate-45"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-up fa-rotate-45"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-arrows"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right"></i>
            </button>
        </div>
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-left fa-rotate-315"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-down"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-hand-o-right fa-rotate-45"></i>
            </button>
        </div>
    </div>


    <div class="instrument-row">
        <div class="dashboard-button-row">
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-drive-center btn-lg">
                <i class="fa fa-binoculars"></i>
            </button>
            <button type="button" class="btn btn-drive btn-lg">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>


        <div class="col-md-1">
            {% for image in images %}
                <a href="view/{{ image }}" class="thumbnail"><img src="static/cam/{{ image }}" alt="..."></a>
            {% endfor %}
        </div>


            <div class="">
                <button type="button" class="btn btn-lg-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
            </div>

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-lg-left"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-lg-center"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-lg-right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
            </div>

            <div class="">
                <button type="button" class="btn btn-lg-bottom"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
            </div>