<html>
<head>
    <link rel="stylesheet" href="{{ uis['theme'] }}?t={{ uis['time'] }}" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

    {% import 'partials/field_macros.html' as macs %}

    <script type="application/javascript">

        $( document ).ready(function()
        {
            {% include 'partials/common_button_methods.js' %}
        });

    </script>

    <table>
        <tr>
            <td rowspan="2" valign="bottom" width="98px">
                {% include 'partials/nav_sm_grid_menu.html' %}
            </td>
            <td valign="top" align="center" width="90%">

                {% for key, category in cats.items() %}
                    {{ macs.panel_setting( category.index ) }}

                        {{ macs.settings_for_category(category.index, settings, specs ) }}

                    {{ macs.panel_setting_end() }}
                {% endfor %}

            </td>
        </tr>

    </table>

</body>
</html>