<html>
<head>
    <link rel="stylesheet" href="{{ uis['theme'] }}?t={{ uis['time'] }}" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

    {% import 'partials/field_macros.html' as macs %}

    <script type="application/javascript">

        $( document ).ready(function()
        {
            {% include 'partials/common_button_methods.js' %}
        });

    </script>

    <table>
        <tr>
            <td rowspan="2" valign="bottom" width="98px">
                {% include 'partials/nav_sm_grid_menu.html' %}
            </td>
            <td valign="top" align="center" width="90%">

                <div class="panel-settings">
                    <div class="panel-settings-heading">
                        <h3 class="panel-settings-title">Motor Hat</h3>
                    </div>
                    <div class="panel-settings-body">

                        <label class="btn setting-label"> Left Motor : </label>
                        <div class="btn-group" data-toggle="buttons">

                            <label class="btn btn-primary
                        {% if (settings['tank_left_motor'] == 1) %} active" {% endif %}>
                                <input type="radio" name="tank_left_motor" id="option1" value="1"
                                       {% if (settings['tank_left_motor'] == 1) %}checked {% endif %} > Motor 1
                            </label>
                            <label class="btn btn-primary
                        {% if (settings['tank_left_motor'] == 2) %} active" {% endif %}>
                                <input type="radio" name="tank_left_motor" id="option2" value="2"
                                       {% if (settings['tank_left_motor'] == 2) %}checked {% endif %} > Motor 2
                            </label>
                            <label class="btn btn-primary
                        {% if (settings['tank_left_motor'] == 3) %} active" {% endif %}>
                                <input type="radio" name="tank_left_motor" id="option3" value="3"
                                       {% if (settings['tank_left_motor'] == 3) %}checked {% endif %} > Motor 3
                            </label>
                            <label class="btn btn-primary
                        {% if (settings['tank_left_motor'] == 4) %} active" {% endif %}>
                                <input type="radio" name="tank_left_motor" id="option4" value="4"
                                       {% if (settings['tank_left_motor'] == 4) %}checked {% endif %} > Motor 4
                            </label>
                        </div>

                    </div>
                </div>


                {% for key, category in cats.items() %}
                    {{ macs.panel_setting( category.name|capitalize ) }}
                         fields go in here {{ key }}
                    {{ macs.panel_setting_end() }}
                {% endfor %}

            </td>
        </tr>

    </table>

</body>
</html>