<html>
<head>
    <link rel="stylesheet" href="/static/css/theme-lg4-green.css?q=20170402b" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

    <script type="application/javascript">

        $( document ).ready(function()
        {
            {% include 'partials/common_button_methods.js' %}
        });

    </script>

    <table>
        <tr>
            <td rowspan="2" valign="bottom" width="98px">
                {% include 'partials/nav_sm_grid_menu.html' %}
            </td>
            <td valign="top" align="center" width="100%">

                <h2>Raspi Rover Motor Settings</h2>

                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                    </label>
</div>
            </td>
        </tr>

    </table>

</body>
</html>