<html>
<head>
    <link rel="stylesheet" href="/static/css/high-contrast-theme.css?q=2016121838" >
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="application/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>

<div class="dashboard-container">

    <div class="row">
        <div class="col-lg-10 col-md-16 viewport">
            <image class="img-responsive" id="zoomable_image" src="/{{ path }}/{{ image }}" />
        </div>

        <div class="col-lg-2 col-md-16">

            {% include 'partials/pic_zoomer.html' %}

        </div>
    </div>

</div>

</body></html>